
/** 
 *    Document   : customMessageBox
 *    Created on : Aug 17, 2011, 4:30:35 AM
 *    Author     : Kihara Absolomon <soloincc.movert.co.ke>
 *    Description:
 *        Formats and styles the custom error message that will be created
 */

.default_titleBar{
	background-color: #abdfe8;
}

.default_alertWindow{}


.default_titleBarRightIcon{}

.default_titleBarLeftIcon{}

.default_contentArea{
	background-color: #afb3b4;
	padding: 3px;
}

.default_buttonArea{
	background-color: #afb3b4;
	text-align: center;
	padding-bottom: 5px;
}

.default_okButton{
}

#alertWindow .default_contentArea{
	overflow: auto;
}

#alertWindow #msg_links{
	text-align: center;
}

#login{
   width: 100%;
}
