root {
    display: block;
}

html{
	overflow: -moz-scrollbars-vertical;
}

body {
    color: #444444;
    background-color:#f1f1f1;
}

-moz-any-link:focus {
  border: none;
}

#addinfo, #top_tip{
   margin: 2px 5px;
   width: max-content;
   padding: 2px;
   text-align: center;
}

#addinfo{
   border: none;
}

#stabilates{
   margin: 5px auto 2px;
   border: 1px solid silver;
   width: 1050px;
   background-color:white;
}

#header{
   padding:0px;
   text-align: center;
   margin: 5px;
   height: 142px;
   vertical-align: middle;
   border-bottom:1px gray solid;
   background-image: url("../images/bannerbiotech.jpg");
}

#notification_box{
	text-align: right;
	margin-left: 50%;
	font-size: 13px;
	font-weight: bold;
   top: 35px;
   z-index:999;
   width:435px;
   position: fixed;
}

#notification_box span{
	background-color: #CCFF99;
}

/* Login Page*/
#stabilates #login_page, #login_page table{
   text-align: center;
}

#login_page table{
   margin: 2px auto;
}

#login_page td{
   padding:5px 2px;
}

#login_page .buttons{
   padding-left: 50px;
}
/* Login Page*/

.home, .back_link{
   float: left;
   margin-right: 5px;
}

#top_links{
   padding: 0px 5px;
}

#whoisme {
    font-style: italic;
    text-align: right;
    margin: 1px 10px 1px 0px;
}

#footer{
   text-align: right;
   padding: 10px;
   border-top: 1px solid #D0D0D0;
   margin-top: 5px;
}

#credits{
   font-size: 1em;
   text-align: center;
}

#stabilates .left{
   float: left;
   margin: 0px;
}

#stabilates .center{
   float: left;
   margin: 0px 15px 0px 15px;
}

#stabilates .right{
   margin: 0px 0px 0px 15px;
}

#main_div .stabilates textarea, #passages_tab textarea{
   width: 295px;
   height: 180px;
}

#main_div .cultures textarea{
   width: 600px;
   height: 70px;
}

fieldset, .passages{
   border-bottom: 1px solid #D0D0D0;
   margin: 15px 0px;
}

#footer_links{
   text-align: center;
}

.form-horizontal .strain{
   border: none;
   width: 700px;
   float: left;
}

.form-horizontal .synonyms{
   border: none;
   width: auto;
   margin-top: 30px;
}

#stab_synonyms{
   border-left: 1px solid #D0D0D0;
   min-height: 200px;
}

#home .center{
   float: none;
   font-size: 1.5em;
}

.center{
   text-align: center;
}

#home ul{
   margin-left: 70px;
}

#list_stabilates{
   margin: 15px 60px;
}

#parasites, #hosts, #countries{
   width: 600px;
   height: 400px;
   margin: 10px 170px;
}
/**************************Bootstrap changes***************************/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
   height: 30px;
}

.form-horizontal .control-label{
   width: 110px;
}

.form-horizontal .controls{
   margin-left: 120px;
}

.form-horizontal .control-group{
   margin-bottom: 5px;
}

.form-horizontal .nav{
   text-align: center;
   margin-left: 35%;
   width: 40%;
}

.form-horizontal .nav li{
   float: left;
   margin: 5px;
}

dl{
   margin-bottom: 2px;
}
/**************************Bootstrap changes***************************/

#yellow_form table{
   margin: 8px 5px;
   width: 99%;
   background-color: #EFEF9A;
   color: #0A08A9;
   font-family: Times New Roman;
   border: 0.5px solid black;
}

#main_table{
   width: 1020px;
}

#main_table td, #main_table th{
   font-weight: normal;
   border: none;
}

#isolation td, #maintenance td, #maintenance th, #preservation td, #strain td, #other td, #other th{
   border-collapse: collapse;
   border: 0.5px solid #A6A5E1;
}

#yellow_form .vertical{
   writing-mode: tb-rl;
   filter: flipv fliph;
   -webkit-transform:rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   transform: rotate(-90deg);

    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 9%;
    overflow: hidden;
}

#yellow_form .isol_1{
   width: 45%;
}

#yellow_form .strain_1{
   width: 10%;
}

#yellow_form .top_align{
   vertical-align: top;
}

#yellow_form .data{
   color: black;
   font-weight: bold;
   padding-left: 45px;
}

#stab_history{
   text-align: center;
   margin: 0px 20px;
}

#stab_info{
   height: 80px;
}

#alertWindow .stabilate{
   border: 1px dotted black;
   font-weight: bold;
   padding: 2px 5px;
   width: 50%;
   margin-left: 20px;
}

.default_titleBar{
   height: 30px;
   font-size: 1.3em;
   padding-top: 10px;
   border-bottom: 0.5px dotted #D0D0D0;
}

#stab_history .passages{
   border: none;
   margin: 0px;
}

.control-group .stab_input{
   float: left;
   margin-left: 10px;
}

.stab_links{
   width: 70px;
   margin-left: 295px;
}

.left_align{
   float: left;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}