root {
    display: block;
}

html{
	overflow: -moz-scrollbars-vertical;
}

body {
    color: #000000;
    background-color:#f1f1f1;
}

-moz-any-link:focus {
  border: none;
}

#addinfo, #top_tip{
   margin: 2px 5px;
   min-height: 20px;
   width: max-content;
   padding: 2px;
   text-align: center;
}

#addinfo{
   border: none;
}

#stabilates{
   margin: 5px auto 2px;
   border: 1px solid silver;
   width: 1050px;
   background-color:white;
}

#header{
   padding:0px;
   text-align: center;
   margin: 5px;
   height: 142px;
   vertical-align: middle;
   border-bottom:1px gray solid;
   background-image: url("../images/bannerbiotech.jpg");
}

#notification_box{
	text-align: right;
	margin-left: 50%;
	font-size: 13px;
	font-weight: bold;
   top: 35px;
   z-index:999;
   width:435px;
   position: fixed;
}

#notification_box span{
	background-color: #CCFF99;
}

/* Login Page*/
#stabilates #login_page, #login_page table{
   text-align: center;
}

#login_page table{
   margin: 2px auto;
}

#login_page td{
   padding:5px 2px;
}

#login_page .buttons{
   padding-left: 50px;
}
/* Login Page*/

.home, .back_link{
   float: left;
   margin-right: 5px;
}

#top_links{
   padding: 0px 5px;
}

#whoisme {
    font-style: italic;
    text-align: right;
    margin: 1px 10px 1px 0px;
}

#footer{
   text-align: right;
   padding: 10px;
   border-top: 1px solid #D0D0D0;
   margin-top: 5px;
}

#credits{
   font-size: 1em;
   text-align: center;
}

#stabilates .left{
   float: left;
   margin: 0px;
}

#stabilates .center{
   float: left;
   margin: 0px 15px 0px 15px;
}

#stabilates .right{
   margin: 0px 0px 0px 15px;
}

#main_div .stabilates textarea, #passages_tab textarea{
   width: 295px;
   height: 180px;
}

#main_div .cultures textarea{
   width: 600px;
   height: 70px;
}

fieldset, .passages{
   border-bottom: 1px solid #D0D0D0;
   margin: 15px 0px;
}

#footer_links{
   text-align: center;
}

.form-horizontal .strain{
   border: none;
}

#home .center{
   float: none;
   text-align: center;
   font-size: 1.5em;
}

#home ul{
   margin-left: 70px;
}
/**************************Bootstrap changes***************************/
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
   height: 30px;
}

.form-horizontal .control-label{
   width: 110px;
}

.form-horizontal .controls{
   margin-left: 120px;
}

.form-horizontal .control-group{
   margin-bottom: 5px;
}

.form-horizontal .nav{
   text-align: center;
   margin-left: 35%;
   width: 40%;
}

.form-horizontal .nav li{
   float: left;
   margin: 5px;
}
/**************************Bootstrap changes***************************/